body {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-title {
    font-family: 'Bungee', cursive;
    font-size: 40px;
}

.nav-button {
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 14px;
    background-color: whitesmoke;
    border-radius: 2px;
    margin: 1px;
}

.nav-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(218, 218, 218);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.background-image {
    max-width: 50%;
}

.btn {
    font-family: 'Overpass', sans-serif;
    margin: 2px;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: #727272;
    border-color: #727272;
}

.alien-btn-group {
    margin: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    margin: 5px;
}

.container {
    background-color: rgba(255, 255, 255, 0.055);
    margin: 0 auto;
}

.alien-header {
    text-align: center;
    opacity: 0.7;
}

.alien-main-image {
    text-align: center;
    margin: 0 auto;
    opacity: 0.4;
    border: rgba(0, 0, 0, 0.863) solid 4px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
}

.alien-main {
    text-align: center;
    margin: 0 auto;
}

.alien-text {
    background-color: rgba(0, 0, 0, 0.616);
    color: rgb(212, 212, 212);
    padding: 10px;
    font-family: courier;
    text-align: center;
    margin-top: 15px;
    border-radius: 6px;
}

.col-one-alien {
    padding: 6px;
}

.col-two-alien {
    padding: 12px 6px 6px 6px;
    float: right;
    text-align: center;
}

.alien-image {
    border-radius: 4px;
}

/* ANIMATRONIC CSS SECTION */

.al-an-title {
    text-align: center;
    /* font-family: 'Spartan', sans-serif; */
    color: whitesmoke;
    font-size: 24px;
    font-family: 'Audiowide', cursive;
}

.al-an-text {
    background-color: rgba(0, 0, 0, 0.801);
    padding: 5px 8px 5px 8px;
    font-family: 'Asap Condensed', sans-serif;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 25px;
    color: whitesmoke;
}

.alien-anim-queen-main {
    text-align: center;
}

.alien-queen {
    border: rgba(0, 0, 0, 0.425) solid 2px;
    border-radius: 4px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
}

.img-gbge {
    border-radius: 6px;
}

.hr-break {
    background-color: whitesmoke;
    opacity: 0.4;
    width: 80%;
}

.queen-intro {
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 1px 5px 1px;
    display: inline;
    color: whitesmoke;
    line-height: 30px;
    width: 80%;
}