body {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;

}

.nav-title {
    font-family: 'Bungee', cursive;
    font-size: 40px;
}





.nav-button {
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 14px;
    background-color: whitesmoke;
    border-radius: 2px;
    margin: 1px;
}

.nav-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(218, 218, 218);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    opacity: 0.9;
    border-radius: 12px;
}

.btn {
    font-family: 'Overpass', sans-serif;
    margin: 2px;
    font-size: 16px;
}

.btn:hover {
    color: rgb(226, 226, 226);
    background-color: #cc0707;
    border-color: #cc0707;
}

.col-two {
    padding: 2px;
    text-align: center;
}

.anim-container {
    margin: 2px;
    border: solid rgba(255, 255, 255, 0.301) 1px;
    padding: 4px 5px 20px 5px;
    border-radius: 12px;
    width: 80%;
    margin: 0 auto;
}

.jaws-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.jaws-tab-text {
    font-family: 'Secular One', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(226, 226, 226);
    text-align: center;
    margin: 0 auto;
    padding-top: 4px;
    /* letter-spacing: 0.1em; */
    text-shadow: rgba(0, 0, 0, 0.603) 2px 3px 4px;
}

.jaws-btn-group {
    margin: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    margin: 5px;
}

.modal-content {
    width: 100%;
}

.jumbotron {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.display-4 {
    font-family: 'Bungee', cursive;
    font-size: 40px;
}

.lead {
    font-family: 'courier', sans-serif;
    font-size: 16px;
}

.shark-facts {
    font-family: 'courier', sans-serif;
    padding: 2px;
    background-color: rgba(245, 245, 245, 0.692);
    margin-top: 8px;
    line-height: 1;
    border-radius: 6px;
    text-align: center;
}

.bg-shark-fact {
    margin-top: 8px;
    background-color: rgba(245, 245, 245, 0.123);
    border-radius: 6px;
    padding-top: 12px;
}

.shark-fact-text {
    font-family: 'Overpass', sans-serif;
    color: black;
    font-size: 17px;
    background-color: rgba(245, 245, 245, 0.76);
    margin-top: 8px;
    line-height: 1.4;
    border-radius: 3px;
    text-align: center;
    padding-left: 8px;
}

.jaws-boat-img {
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.jaws-text {
    background-color: rgba(43, 109, 153, 0.63);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #0000009c;
    padding: 5px;
    font-family: 'Spartan', sans-serif;
    margin: 24px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    display: flex;
}

.jaws-main-image {
    width: 40%;
    opacity: 0.2;
}

.jaws-movie-theater {
    margin-top: 10px;
    margin-right: 25px;
    margin-top: 6px;
}

.jaws-title {
    box-shadow: 0px 0px, 0 0 15px black;
}

.container-jaws {
    display: flex;
    margin: 0 auto;
    width: 60%;
    background-color: rgba(245, 245, 245, 0.082);
    color: black;
    padding-top: 2px;
    border-radius: 2px;
    padding: 4px;
}

.container-jaws-anim {
    /* text-align: center; */
    /* margin: 0 auto; */
    border: solid rgba(255, 255, 255, 0.281) 2px;
    margin: 20px 300px 0px 300px;
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.shark-info {
    background-color: rgba(255, 255, 255, 0.678);
    color: black;
    font-family: courier;
    font-size: 15px;
    text-align: center;
    padding: 12px 4px 4px 4px;
    border-radius: 6px;
}

.shark-image {
    border: rgba(0, 0, 0, 0.205) solid 2px;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.col-two-jaws {
    margin-right: 25px;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.carousel {
    width: 800px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
    margin: 0 auto;
    border: solid black 2px;
    border-radius: 4px;
}

.jaws-thumb {
    padding-top: 15px;
    margin-top: 30px;
}

@media screen and (max-width: 960px) {
    .container-jaws {
        
      position: relative;
      width: 100%;
      margin: 2px;
    }

    .jaws-text {
        font-size: 12px;
    }
}

