body {
    height: 140vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-title {
    font-family: 'Bungee', cursive;
    font-size: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.jp-header {
    text-align: center;
    margin: 0 auto;
    
}

.jp-text {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px;
    font-family: 'Spartan', sans-serif;
    margin: 4px 0px 5px 4px;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    
}

.jp-thumb-image {
    border-radius: 4px;
}

.jp-btn-group {
    margin: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    margin: 5px;
}

.container-jp {
    margin: 0 auto;
    width: 70%;
    background-color: rgba(243, 243, 243, 0.089);
    color: black;
    padding-top: 2px;
    border-radius: 4px;
    padding: 4px;
   
}

.t-rex-main {
   padding-left: 60px;
    opacity: 0.3;
    position: fixed;
}

.trex-anim {
    border-radius: 6px;
}

.jp-anim-cont {
    /* text-align: center;
    margin: 0 auto; */
    background-color: rgba(245, 245, 245, 0.815);
    padding: 12px;
    border-radius: 6px;
}

.jp-anim-text {
    background-color: white;
    color: black;
    font-family: 'Spartan', sans-serif;
    padding: 16px;
    
    
}

