body {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    font-family: 'Athiti', sans-serif;
    margin: 2px;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: #8b8b8b;
    border-color: #8b8b8b;
}

.nav-title {
    font-family: 'Bungee', cursive;
    font-size: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.jp-header {
    text-align: center;
    margin: 0 auto;
}

.jp-text {
    background-color: rgba(3, 3, 3, 0.795);
    color: rgb(255, 255, 255);
    padding: 8px;
    font-family: 'Spartan', sans-serif;
    margin: 4px 0px 5px 4px;
    font-size: 15px;
    border-radius: 3px;
}

.jp-thumb-image {
    border-radius: 4px;
   
}

.jp-btn-group {
    margin: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    margin: 5px;
}

.container-jp {
    margin: 0 auto;
    width: 60%;
    background-color: rgba(243, 243, 243, 0.089);
    color: black;
    padding-top: 2px;
    border-radius: 4px;
    padding: 4px;
}

.t-rex-main {
    padding-left: 60px;
    opacity: 0.7;
    position: fixed;
}

.trex-anim {
    border-radius: 4px;
}

.jp-anim-cont {
    /* text-align: center;
    margin: 0 auto; */
    background-color: rgba(255, 255, 255, 0.103);
    padding: 12px;
    border-radius: 6px;
}

.jp-anim-text {
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    padding: 15px;
    border-radius: 8px;
    font-size: 15px;
}

.jp-thumbnails {
    text-align: center;
    padding: 2px;
    border: rgba(255, 255, 255, 0.137) solid 2px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.822);
}

.miniature-gallery {
    background-color: rgba(255, 255, 255, 0.856);
    padding-left: 6px;
    border-radius: 4px;
    font-family: Spartan;
    padding-top: 6px;
}

.vid-header {
    background-color: rgba(0, 0, 0, 0.795);
    padding-left: 6px;
    border-radius: 12px;
    font-family: Spartan;
    padding-top: 6px;
    color: white;
}

.vid-section {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    text-align: center;
}

/* MINIATURE MODAL CSS BELOW */

.myImg {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    padding: 3px;
    height: 160px;
}

.myImg:hover {
    opacity: 0.5;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}